main {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (max-width: 979px) {
    display: block;
  }

  > * {
    &:not(header) {
      padding-block: 3rem;
      padding-inline: var(--padding-inline-section);

      @media (max-width: 1200px) {
        padding-block: 2rem;
      }

      @media (max-width: 1200px) {
        padding-block: 1.5rem;
      }
    }

    &:not(:first-child),
    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset-inline-start: var(--padding-inline-section);
        inset-block-end: 0;
        inline-size: calc(100% - 2 * var(--padding-inline-section));
        block-size: 1px;
        background-color: var(--color-gray);
      }
    }
  }

  > header {
    grid-row: 1 / 7;
    box-shadow: 0 0 10px black;

    @media (max-width: 979px) {
      box-shadow: none;
      padding-inline: var(--padding-inline-section);
    }

    > div {
      position: sticky;
      block-size: 100svh;
      top: 0;

      @media (max-width: 979px) {
        block-size: auto;
      }

      img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;

        @media (max-width: 979px) {
          display: none;
        }
      }

      > div {
        position: absolute;
        text-align: center;
        padding-block-end: 2rem;
        inset-inline-start: 0;
        inset-block-end: 0;
        inset-block-start: 40%;
        inset-inline-end: 0;
        background: linear-gradient(
          transparent 0%,
          var(--color-background) 85%
        );
        display: flex;
        align-items: flex-end;
        justify-content: center;

        @media (max-width: 979px) {
          position: static;
          display: block;
          text-align: left;
          padding-block: 2rem;
        }

        @media (max-width: 767px) {
          padding-block: 1.5rem;
        }

        h1 {
          margin-block: 0 2rem;
          font-size: 3rem;

          @media (max-width: 480px) {
            font-size: 2rem;
            margin-block: 0 1rem;
          }
        }

        a {
          margin-inline: 0.5rem;

          i {
            font-size: 1.25rem;

            @media (max-width: 480px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  :is(#experience, #education) li:not(last-of-type) {
    margin-block-end: 2rem;

    h3 {
      margin-block: 0.5rem 1rem;
    }

    p {
      margin: 0;
    }
  }

  > footer {
    padding-block: 1rem;
    text-align: right;
  }
}
