#navbar {
  text-align: center;

  @media (max-width: 979px) {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
  }

  @media print {
    display: none;
  }

  > div {
    position: sticky;
    top: 0;
    padding-block: 1rem;
    block-size: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header a {
      color: var(--color-accent);
      font-size: 2rem;
      font-weight: 700;
      padding-inline: 1rem;

      @media (max-width: 767px) {
        font-size: 1.5rem;
        padding-inline: 0.5rem;
      }
    }

    nav ul li a {
      display: block;
      padding: 0.5rem 1rem;

      @media (max-width: 767px) {
        padding: 0.5rem;
      }

      svg {
        inline-size: 2.75rem;
        block-size: 2.75rem;

        @media (max-width: 767px) {
          inline-size: 2rem;
          block-size: 2rem;
        }
      }
    }

    nav ul li a.active svg {
      fill: var(--color-accent);
    }

    footer {
      position: relative;

      #language-button {
        background: none;
        color: var(--color-text);
        border: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        gap: 0.25rem;

        .chevron {
          transition: rotate .3s ease;
        }
      }

      #language-menu {
        display: none;
        position: absolute;
        inset-block-start: -1rem;
        inset-inline-start: 50%;
        translate: -50% -100%;
        padding-inline: 0.5rem;
        padding-block: 0.25rem;
        background: black;
        box-shadow: 0 0 10px black;
        inline-size: 100%;

        @media (max-width: 767px) {
          padding-inline: 0.25rem;
          padding-block: 0.125rem;
        }

        &.show {
          display: block;
        }

        li {
          margin: 0.5rem 0;

          @media (max-width: 767px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
