#navbar {
  text-align: center;

  @media (max-width: 979px) {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
  }

  @media print {
    display: none;
  }

  > div {
    position: sticky;
    top: 0;
    padding-block: 1rem;
    block-size: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header a {
      color: var(--color-accent);
      font-size: 2rem;
      font-weight: 700;
      padding-inline: 1rem;

      @media (max-width: 767px) {
        font-size: 1.5rem;
        padding-inline: 0.5rem;
      }
    }

    nav ul li a,
    footer button {
      display: block;
      padding: 0.5rem 1rem;

      @media (max-width: 767px) {
        padding: 0.5rem;
      }

      svg {
        inline-size: 2.75rem;
        block-size: 2.75rem;

        @media (max-width: 767px) {
          inline-size: 2rem;
          block-size: 2rem;
        }
      }
    }

    nav ul li a.active svg {
      fill: var(--color-accent);
    }

    footer {
      .font-size-options {
        margin-block: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 0.9rem;

          @media (max-width: 767px) {
            font-size: 0.8rem;
          }
        }

        button {
          border: none;
          background: none;
          color: var(--color-text);
          font-size: 1.25rem;
          padding: 0.25rem;

          @media (max-width: 767px) {
            font-size: 1rem;
            padding: 0.2rem;
          }

          &:hover {
            color: var(--color-accent);
          }
        }
      }

      ul {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        @media (max-width: 767px) {
          gap: 0.25rem;
        }

        li a {
          font-size: 0.9rem;
          padding-block: 0.25rem;
          padding-inline: 0.1rem;

          @media (max-width: 767px) {
            font-size: 0.75rem;
          }

          &.active {
            text-decoration: underline;
            text-underline-offset: 0.2rem;
          }
        }
      }
    }
  }
}
