<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2f6a46ebe6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />

    <script type="module" src="./main.js" defer></script>

    <title>CV Szymon Antczak</title>
  </head>
  <body>
    <aside id="notification">
      <p>
        Strona wciąż znajduje się w fazie budowy. Za niepoprawne działanie
        serdecznie przepraszam.
      </p>
      <button aria-label="Zamknij powiadomienie">X</button>
    </aside>

    <aside id="navbar">
      <a href="#about-me" aria-label="O mnie">SA</a>

      <nav>
        <ul>
          <li>
            <a href="#about-me" aria-label="O mnie">
              <span class="material-symbols-outlined">person</span>
            </a>
          </li>
          <li>
            <a href="#specialization" aria-label="Specjalizacje">
              <span class="material-symbols-outlined">star_rate</span>
            </a>
          </li>
          <li>
            <a href="#experience" aria-label="Doświadczenie">
              <span class="material-symbols-outlined">business_center</span>
            </a>
          </li>
          <li>
            <a href="#education" aria-label="Wykształcenie">
              <span class="material-symbols-outlined">school</span>
            </a>
          </li>
          <li>
            <a href="#portfolio" aria-label="Portfolio">
              <span class="material-symbols-outlined">photo</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <main>
      <header>
        <div>
          <img src="/about-me.jpg" alt="Zdjęcie Szymona Antczaka" />
          <div>
            <div>
              <h1>Szymon Antczak</h1>
              <a href="tel:+48691071238" aria-label="Telefon">
                <i class="fa-solid fa-phone"></i>
              </a>
              <a href="mailto:szymon0antczak@gmail.com" aria-label="E-mail">
                <i class="fa-solid fa-envelope"></i>
              </a>
              <a
                href="https://www.linkedin.com/in/szymon-antczak-37697996"
                aria-label="LinkedIn"
              >
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a href="https://github.com/SzymonAntczak" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </header>

      <article id="about-me">
        <header>
          <hgroup>
            <h2 class="section-title">o mnie</h2>
            <p><strong>frontend developer</strong> <span>/</span> 28 lat</p>
          </hgroup>
        </header>

        <p>
          Cześć! Mam na imię Szymon i od 8 lat zajmuję się frontendem.<br />
          <br />
          Większość mojego zawodowego życia spędziłem wykorzystując framework
          Angular (od wersji 2), jednak uważam, że to nie znajomość konkretnego
          narzędzia jest najważniejsza, a umiejętność szybkiego przyswajania
          nowej wiedzy.<br />
          Dlatego nie chciałym przedstawiać się jako "Angular developer", "React
          developer" czy też "[tu wstaw dowolną nazwę biblioteki] developer",
          ale po prostu jako <em>"frontend developer"</em>, który potrafi
          dostosować się do zmieniających się warunków.<br />
          <br />
          W przeszłości miałem okazję pracować zarówno w małych zespołach, jak i
          w dużych korporacjach, co pozwoliło mi na zdobycie doświadczenia w
          wielu różnych obszarach. W pracy cenię sobie przed wszystkim możliwość
          ciągłego rozwoju, dlatego zawsze staram się szukać nowych wyzwań i
          okazji do nauki.<br />
          <br />
          To co chciałbym wnieść do Twojego zespołu, to przede wszystkim sposób
          myślenia, polegający na rozwiązywaniu problemów w sposób jak
          <strong>najprostszy</strong> i jak najbardziej
          <strong>efektywny</strong>. Uważam, że powinno się dobierać
          odpowiednie narzędzia do konkretnego problemu, a nie na odwrót. Nie
          lubię komplikować życia ani sobie, ani innym, dlatego zawsze staram
          się tak dobrać rozwiązania, aby zrealizować postawione przed mną
          zadanie w najbardziej <strong>optymalny</strong> sposób.<br />
          <br />
          Jestem osobą bezkonfliktową, spokojną i zawsze gotową do pomocy. Cenię
          sobie pracę w zespole, ponieważ uważam, że to właśnie praca w grupie
          pozwala na osiągnięcie najlepszych rezultatów. Wierzę, że każdy z nas
          ma coś do zaoferowania, dlatego zawsze staram się słuchać innych i
          uczyć od nich.<br />
          <br />
          Poza pracą interesuję się przede wszystkim sportem (w szczególności
          tenisem oraz piłką nożną), a w wolnym czasie lubię również poczytać
          książkę lub popracować na działce.
        </p>
      </article>

      <section id="specialization">
        <header>
          <h2 class="section-title">specjalizacje</h2>
        </header>

        <p>
          Poniżej znajdziesz listę technologii/zagadnień, w których czuję się
          najpewniej. Nie wypisywałem tutaj takich rzeczy jak
          <strong>HTML</strong>, <strong>CSS</strong> czy
          <strong>JavaScript</strong>, ponieważ według mnie jest to podstawa
          pracy jako frontend developer.
        </p>

        <ul>
          <li>
            <img src="/angular.png" alt="Logo Angulara" />
            <h3>Angular</h3>
            <p>
              Framework, w którym mam najwięcej doświadczenia (6 lat) i w którym
              czuję się najbardziej komfortowo. Świetny wybór do dużych
              projektów, ponieważ Angular odostępnia nam również ogromny zestaw
              narzędzi do zarządzania aplikacją.
            </p>
          </li>
          <li>
            <img src="/react.webp" alt="Logo Reacta" />
            <h3>React</h3>
            <p>
              React oraz Next.js to technologie, w których pracuję jedynie rok,
              jednak dzięki temu, że posiadałem już wcześniej spore
              doświadczenie z innym frameworkiem, ich nauka nie sprawiła mi
              problemu i również w nich czuję się bardzo swobodnie.
            </p>
          </li>
          <li>
            <img src="/typescript.png" alt="Logo Typescripta" />
            <h3>TypeScript</h3>
            <p>
              Przez fakt, że sporo pracowałem z Angularem, naturalnym było
              dogłębne poznanie TypeScripta, którego uważam za bardzo ważne
              narzędzie pracy, szczególnie nad dużymi projektami zespołowymi.
            </p>
          </li>
          <li>
            <img src="/webc.png" alt="Logo Web Components" />
            <h3>Web Components</h3>
            <p>
              Web Components mogą stanowić świetne rozwiązanie w prostych
              projektach nieopartych na frameworkach, w których chcemy
              wykorzystać podejście komponentowe. Wielkim ich atutem jest to, że
              mogą być bezproblemowo używane w każdym frameworku, dlatego mogą
              stanowić bardzo dobrą bibliotekę komponentów.
            </p>
          </li>
          <li>
            <span id="accessibility-icon" class="material-symbols-outlined">
              accessibility
            </span>
            <h3>Accessibility</h3>
            <p>
              Dostępność jeszcze kilka lat temu nie była najistotniejszą kwestią
              (niestety), jednak aktualnie jest to jedna z najważniejszych
              rzeczy, którą powinno dostarczać się w każdym projekcie. Dla mnie
              jest to zdecydowanie priorytetowe zadanie podczas tworzenia
              aplikacji.
            </p>
          </li>
          <li>
            <img src="/node.png" alt="Logo Node.js" />
            <h3>Node.js</h3>
            <p>
              Specjalizuję się we frontendzie, jednak zdarzało mi się również
              pracować z Node.js przy tworzeniu prostych API. W przyszłości na
              pewno chciałbym poszerzać swoją wiedzę w zakresie Node.js oraz
              ogólnorozumianego backendu.
            </p>
          </li>
        </ul>
      </section>

      <section id="experience">
        <h2 class="section-title">doświadczenie</h2>

        <ol reversed>
          <% experience.forEach(function(item) { %>
          <li>
            <time class="period">
              <%= item.startTime + ' - ' + item.endTime%>
            </time>
            <h3><%= item.company %>, <strong><%= item.role %></strong></h3>

            <dl>
              <dd>
                <strong>cele i obowiązki</strong>
              </dd>
              <dt>
                <p><%= item.description %></p>
              </dt>
              <dd>
                <strong>osiągnięcia</strong>
              </dd>
              <dt>
                <p><%= item.achievements %></p>
              </dt>
              <dd>
                <strong>technologie</strong>
              </dd>
              <dt><%= item.techStack.join(', ') %></dt>
            </dl>
          </li>
          <% }); %>
        </ol>
      </section>

      <section id="education">
        <h2 class="section-title">wykształcenie</h2>

        <ol reversed>
          <% education.forEach(function(item) { %>
          <li>
            <time class="period">
              <%= item.startTime + ' - ' + item.endTime %>
            </time>
            <h3><%= item.school %></h3>
            <p>
              <% if (item.degree) { %> <%= item.degree + ' - ' %> <% } %> <%=
              item.fieldOfStudy %> <% if (item.specialization) { %>
              <br />Specjalizacja: <%= item.specialization %> <% } %>
            </p>
          </li>
          <% }); %>
        </ol>
      </section>

      <section id="portfolio">
        <h2 class="section-title">portfolio</h2>

        <p>
          Poniższa galeria przedstawia tylko niektóre projekty realizowane przez
          firmy, w których miałem przyjemność pracować. Postanowiłem umieścić
          tylko takie, w których mój udział był duży lub bardzo duży.<br />
          <small>
            * Aby poznać więcej szczegółów na temat mojej roli w danym
            projekcie, najedź kursorem na odpowiedni kafelek.
          </small>
        </p>

        <ul>
          <% portfolio.forEach(function(item) { %>
          <li>
            <figure>
              <img src="<%= item.img %>" alt="<%= item.name %>" />
              <figcaption>
                <p>Opisik</p>
                <a href="<%= item.href %>" target="_blank"><%= item.name %></a>
              </figcaption>
            </figure>
          </li>
          <% }); %>
        </ul>
      </section>

      <footer>
        <small>Autor: Szymon Antczak, 2024</small>
      </footer>
    </main>

    <a
      id="scroll-up-btn"
      class="hidden"
      href="#about-me"
      aria-hidden="true"
      aria-label="O mnie"
    >
      <span class="material-symbols-outlined">arrow_upward</span>
    </a>
  </body>
</html>
